.header-color {
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid {
    /* background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44); */

    background-image: url(https://wallpaperaccess.com/full/1128799.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.avatar-img {
    height: 250px;
    margin-top: 100px;
    border-radius: 1000px;
    border: 1vh solid #404244;
}

.banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    font-family: monospace;
}

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
    font-family: monospace;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: auto;
}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
}

.projects-grid {
    display: flex;
}

.contact-body {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    margin-bottom: 20px;
}

.contact-grid h2 {
    font-family: 'Anton', sans-serif;
}

.contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.contact-grid img {
    border-radius: 50px;
}

.contact-list i {
    font-size: 66px;
    padding-right: 5rem;
}

/* Resume Page */

.resume-right-col {
    background: #27221f;
    color: white;
    padding: 2em;
}

.header-color i {
    font-size: 25px;
}

.aboutMe img {
    height: 250px;
    /* margin-top: 100px; */
    border-radius: 1000px;
}
